.brush-option_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: rgb(180, 241, 230);

    border: solid white 3px;

    border-radius: 10px;
}

.brush-option_box .innerBox{
    color: transparent;
    width: 64px;
    height: 64px;
    border: none;

    pointer-events: none;
}

.brush-option_box .innerSmallBox{
    color: transparent;
    width: 48px;
    height: 48px;
    border: none;

    pointer-events: none;
}

.brush-option_box.active{
    border: solid rgb(255, 179, 0) 5px;
}

.brush-options{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    width: 100%;
    gap: 15px;
}

.placeable{
    pointer-events: none;
    position: absolute;

    opacity: 1;
    transform: scale(1);

    z-index: -1;
}

.placeable:hover{
    transform: scale(1.1);
}

.placeable.ghost{
    opacity: 0.3;
}

.clickToDisable{
    display: none;

    margin: 0;
    padding: 5px;

    align-self: flex-end;
    text-align: center;
}