@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DynaPuff:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    color: black;
}

:root{
    --primary-color: #c0f7f3;
    --window-header-color: #2196F3;
    --window-selected-header-color: #2c5475;
    
    --font-size-m: 1.12rem;
    --border-radius-s: 8px;

    --window-buttons-width: 30px;

    --minimize-button-color: gray;
    --minimize-button-hover-color: #4d4d4d;

    --close-button-color: red;
    --close-button-hover-color: #af0000;

    --normal-cursor: url('../imgs/WiiHand/CursorNormal32.png') 16 16, auto;
    --point-cursor: url('../imgs/WiiHand/CursorPoint32.png') 3 3, auto;
    --grab-cursor: url('../imgs/WiiHand/CursorGrab32.png') 16 16, auto;
}

html {
  cursor: var(--normal-cursor);
}

body{
    overflow-x: hidden;
    overflow-y: hidden;

    background-image: url('https://jooinn.com/images/beach-sand-pattern-5.jpg');
    background-size: cover;
}

button{
    cursor: var(--point-cursor);
    border: none;
    background: none;
}

area{
    cursor: var(--point-cursor);
}

img{
    width: 100%;
    object-fit: cover;
}

header{
    background: var(--primary-color);
    background-repeat: no-repeat;
}

.desktop_app_icon{
    width: 80px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    text-align: center;
    padding: 16px;
    filter: drop-shadow(0 0 8px rgb(75, 101, 114));

    gap: 5px;
}

.desktop_app_icon img{
    width: 64px;
    height: 64px;
    border-radius: 16px;
    box-shadow: 0 2px 4px black;
}

.desktop_app_icon p{
    width: 100%;
}

.desktop_app_icon:hover{
    cursor: var(--point-cursor);
    
    background-color: #2195f376;

    backdrop-filter: blur(10px);
}

.desktop_app_icon.selected{
    background-color: #2196F3;

    backdrop-filter: blur(0px);
}

.desktop_app_icon p{
    margin: 0px;
    color: #000000;
}

@keyframes scale {
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

@keyframes scale-down {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(0);
    }
}

.socials{
    display: flex;
    
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;
    background-color: #00000000;
}

.socials:hover{
    background-color: #ffffffab;
}

.socials *{
    padding: 4px;
}

.socials img{
    width: 30px;
}

.row{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}