@import url("./style.css");

#welcome {
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;

  top: calc(50% - 90px);
  left: calc(50% - 180px);
}

#welcome_header {
  cursor: var(--point-cursor);

  padding: 10px;
  background-color: var(--window-header-color);
}

#welcome_header:active {
  cursor: var(--grab-cursor);

  background-color: var(--window-selected-header-color);
}

#sealclicker {
  position: absolute;
  background-color: #93c3ea;
  border: 1px solid #83aed2;

  top: calc(10vh);
  left: 0;
}

#sealclicker_header {
  cursor: var(--point-cursor);

  width: 98.75vw;

  padding: 10px;
  background-color: var(--window-header-color);
}

#sealclicker_header:active {
  cursor: var(--grab-cursor);

  background-color: var(--window-selected-header-color);
}

.windows{
  border: solid;
  border-color: var(--window-header-color);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  transform: scale(1);

  animation: scale 0.25s 1;
}

.windows.close{
  transform: scale(0);
  
  animation: scale-down 0.25s 1;
}

.icon{
  width: 32px;
  height: 100%;

  object-fit: contain;
}

.small_icon{
  width: 16px;
  height: 100%;

  object-fit: contain;
}

.windows_header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-color: var(--window-header-color);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  position: relative;

  width: 400px;
  height: 15px;
}

.windows_header.window_body{
  display: flex;

  width: 0;
  min-width: 100%;
  
  height: 300px;
  overflow: auto;

  flex-direction: column;

  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.windows_header.window_body *{
  margin: 0;
}

.minimize-button{
  border-color: #00000000;
  border-radius: var(--border-radius-s);

  color: white;
  background-color: var(--minimize-button-color);

  width: var(--window-buttons-width);
  height: var(--window-buttons-width);

  text-align: center;

  transform: scale(1);
  transition: 0.25s;
}

.minimize-button:hover{
  background-color: var(--minimize-button-hover-color);

  transform: scale(1.2);
}

.close-button{
  border-color: #00000000;
  border-radius: var(--border-radius-s);

  color: white;
  background-color: var(--close-button-color);

  width: var(--window-buttons-width);
  height: var(--window-buttons-width);

  text-align: center;

  transform: scale(1);
  transition: 0.25s;
}

.close-button:hover{
    background-color:  var(--close-button-hover-color);

    transform: scale(1.2);
}