@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DynaPuff:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

html, body {
  cursor: url('./imgs/WiiHand/CursorNormal32.png') 16 16, auto;
  cursor:grab url
}

 #welcome {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#welcomeheader {
  padding: 10px;
  cursor: url('./imgs/WiiHand/CursorPoint32.png') 16 16, auto;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#welcomeheader:active {
  padding: 10px;
  cursor: url('./imgs/WiiHand/CursorGrab32.png') 16 16, auto;
  z-index: 10;
  background-color: #2c5475;
  color: #fff;
}

:root{
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #c0f7f3;
    --secondary-color: #f3961c;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: url('./imgs/WiiHand/CursorPoint32.png') 3 3, auto;
    border: none;
    background: none;
}

area{
    cursor: url('./imgs/WiiHand/CursorPoint32.png') 3 3, auto;
}

img{
    width: 100%;
}

body{
    background-image: url('./imgs/background.png');
}

header{
    background: var(--primary-color);
    background-repeat: no-repeat;
}

.navbar{
    padding: 5px;
    background-color: #0000002a;
    backdrop-filter: blur(10px);
    align-items: center;
    display: flex;
    border: solid;

    justify-content: space-between;

    border-radius: 16px;
}

.navbar .companion-seal{
    margin-left: 10px;

    width: 64px;
    height: 64px;

    justify-content: flex-start;
}

.navbar .clock-text{
    margin-right: 10px;
    color: var(--dark-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);

    color: #c0f7f3;

    justify-content: flex-end;

    background-color: #0000002a;
    padding: 4px 12px;
    border-radius: 16px;
}